<div id="config-echothat">
  <h1>How to quickly configure echoThat</h1>

  <ol>
    <li>Click the echoThat logo <%= image_tag("echothat_browser_button.png") %> in your browser bar to call up the echoThat configuration panel</li>
    <li>Click the buttons corresponding to your favorite social networks. A new tab will open with specific instructions for that network. As soon as you give echoThat permission to post on your behalf, you're set up.</li>
    <li>Now, you can use echoThat:</li>
  </ol>
</div>

